# Executables & other compiled files
bin/**
rsa

# Text files (I only use .txt files to temporarily
# lay out information while working; anything that
# is actually relevant to the project will be in a
# different format)
*.txt

# Those stupid .DS_Store files
.DS_Store
